/* boxes */
html, body {
    margin: 0;
    padding: 0;
}  

#h1{
    color: white;
}
#topbar{
    background-color: navy;
    width: 100%;
    height: 7vw;
    display:flex;
    justify-content: space-between;
}
#sidebar {
    height: 50vw;
    background-color: navy;
    width: 34%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#Logo img{
    width: 150px;
}

.nav-links{
    text-align: right;
}


.nav-links ul li{
    display: inline-block;
    margin: 0px;
}

/* socials looks */
.nav-links .fa{
    color: rgb(255, 255, 255);
    cursor: pointer;
    width: 135px;
    margin: 20px;
}

#scrollbar {
    height: 50vw;
    width: 66%;
    background-image: url('Kaulo plaatje.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

#mainsection{ 
    display:flex;
    justify-content: space-between;
}

#sidebar img{
    width: 480px;
    height: 100px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

#bottombar{
    height: 5vw;
    background-color: navy;
    display: flex;
}