/* boxes */
html, body {
    margin: 0;
    padding: 0;
}  

#h1{
    color: white;
}
#topbar{
    background-color: navy;
    width: 100%;
    height: 7vw;
    display:flex;
    justify-content: space-between;
}
.sidebar {
    height: 49vw;
    background-color: navy;
    width: 34%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
#home-txt{
    position:absolute;
    color:white;
}

#topbar img{
    width: 11vw;
    height: 7vw;
}

.nav-links{
    text-align: right;
}


.nav-links ul li{
    display: inline-block;
    margin: 0px;
}

/* socials looks */
.nav-links .fa{
    color: rgb(255, 255, 255);
    cursor: pointer;
    width: 7vw;
    height: 7vw;
    margin: 1vw;
    font-size: 4vw;
}

#scrollbar {
    height: 49vw;
    width: 66%;
    background-image: url('Kaulo plaatje.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    overflow:auto;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
}

#mainsection{ 
    display:flex;
    justify-content: space-between;
}

.sidebar img{
    width: 25vw;
    height: 5.20vw;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    text-align: center
}

#bottombar{
    height: 12vw;
    padding: 0%;
    background-color: navy;
    display: flex;
    color:white;
    text-align: center;
}

#scrollbar img{
    width:22vw;
    height:15vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.column {
    float: left;
    width: 30%;
    display: block;
    padding: 1%;
    text-align: center;
    color:white;
}
.home1 {
    position: absolute;
    top: 8vw;
    left: 15.5vw;
    color: rgb(255, 255, 255);
}
.tickets1 {
    position: absolute;
    top: 14vw;
    left: 15.5vw;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.gameplay1{
    position: absolute;
    top: 20vw;
    left: 15vw;
    color: rgb(255, 255, 255);
}

.feestjes_en_evenementen1{
    position: absolute;
    top: 26vw;
    left: 12vw;
    color: rgb(255, 255, 255);
}

.werken_bij_museum1{
    position: absolute;
    top: 32vw;
    left: 13vw;
    color: rgb(255, 255, 255);
}

.info_en_contact1{
    position: absolute;
    top: 38vw;
    left: 14vw;
    color: rgb(255, 255, 255);
}

